body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: goldenrod;
  text-transform: uppercase;
}

input, textarea{
  border: none;
  outline: none;
  background: none;
  color: white;
  border-bottom: 1px solid goldenrod;
  padding: 10px 6px;
}

button {
  background: none;
  color: white;
  outline: none;
  border: 1px solid goldenrod;
  padding: 15px;
  border-radius: 8px;
  transition: all 0.4s;
  text-transform: uppercase;
}

button:hover {
  background: goldenrod;
  color: black;
}

.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(/img/kris-atomic-ZgMMjAR9b20-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  transition: all 1s;
}

.showcase:hover::after {
  filter: blur(0);
}

.showcase:hover .content {
  filter: blur(4px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1s;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.content .logo {
  height: 180px;
  width: 180px;
}

.content .title {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.content .text {
  font-size: 1.4rem;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.center {
  text-align: center;
}

.inner-width {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  align-items: center;
}

